
ul li a { 
    text-decoration: none;
    color: black;
    font-weight: 600;
}
ul li {
    list-style-type: none; 
    cursor: pointer;
    padding: 10px;
}
ul li a:hover {
    color: rgb(0, 38, 255);
}
.logo{
    width: 120px;
    height: 80px;
    margin-left: 15px;
    position: relative;
    top: -10px;
}

.search{
  margin-left: 120px;
  margin-bottom: 10px;
}
.navbar{
    height: 80px;
    position: fixed;
}